<mat-toolbar (click)="ngOnInit()" class="navControls">
  <!--<a class="navControls__branding branding branding--compact active" routerlink="/home" routerlinkactive="active" href="/home">
      <span class="branding_white">IPO Enabler</span>
  </a>-->
  <span (click)="Gotohome()" class="branding_white">IPO Enabler</span>
  <div class="spacer"></div>
  <ul>
      <li>
          <a href="#">Setup Questionnaire Library</a>
          <ul class="name">
              <li>
                  <a href="#">Setup Questionnaire Library</a>
              </li>
              <li>
                  <a href="#">Questionnaire Library</a>
              </li>
              <li>
                  <a href="#">Questions </a>
              </li>
              <li>
                  <a href="#">Project Overview</a>
              </li>
          </ul>
      </li>
  </ul>
  <button mat-button activeroute="nav__link--active" class="nav__link" (click)="notification()">Notification</button>
  <button mat-button activeroute="nav__link--active" class="nav__link" (click)="downloadPdf()">User Guide</button>
  <button mat-button activeroute="nav__link--active" class="nav__link" (click)="openContact()">Contact</button>
  <button mat-button *ngIf="displayUser" activeroute="nav__link--active" class="nav__link" (click)="displayUsers()">Users</button>
  <a mat-button  activeroute="nav__link--active" class="nav__link" routerlink="/login" href="/login">Logout</a>
</mat-toolbar>
<div class="tabHeader">
  <button class="tabHeader__anchor tabHeader--active" (click)="GotoSetupQuestionnaire()">
      <div class="tabHeader__title">
          Setup Questionnaire Library
      </div>
  </button>
  <button class="tabHeader__anchor tabHeader--active" >
      <div class="tabHeader__title" (click)="GotoQuestions()">
          Questions
      </div>
  </button>
  <button class="tabHeader__anchor tabHeader--active" routerlink="/overview/profit-loss" routerlinkactive="tabHeader--active" href="/overview/profit-loss">
      <div class="tabHeader__title">
          Project Overview
      </div>
  </button>
</div>
<router-outlet></router-outlet>
<div>
  <button class="loginRegister__btn btn btn--secondary" (click)="createPowerPoint()">Generate Report</button>
</div>

